body {
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    border-bottom:#3D3D3D solid 1px;
}

figure {
    text-align: center;
    background-color: whitesmoke;
    color: lightgrey;
    padding: 15px;
    margin: 30px; /* Afasta as figuras dos cantos da tela */
    margin-top: 30px; /* Afasta a figura da caixa anterior   cima */
    margin-bottom: 30px; /* Afasta a figura da caixa posterior  baixo    se for so margin vai td lado*/
    /* padding espaço entre borda e a pl por dentro*/
}

figure img {
    max-width: 100%; /* Define a largura máxima (img td q for figura) 
    como 100% do espaço disponível */
}
  
.matriz-musicdot{
    width: 550px;
    margin: 0 auto; /* Serve para centralizar o conteúdo na página */ 
}

.familia-tupfeln{
    width: 275px; /* Define a largura desejada */
    float: right; /* Alinha à direita */
}

.container{
    width: 940px;
    margin: 0 auto; /* Serve para centralizar o conteúdo na página */ 
} 

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input[type="text"],
  input[type="telefone"],
  input[type="email"],
  textarea {
    width: 500px;
    height: 30px;
    padding: 5px;
  }
  
  textarea {
    height: 200px;
  }
  
  button {
    width: 100px;
    height: 50px;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    
  }

  .container {
    display: flex;
    justify-content: space-between;
}

.correspondencia, .telefones {
    width: 90%; /* ajuste a largura conforme necessário */
    padding: 50px;
}

label,
input,
textarea {
    margin-bottom: 10px;
}
